.section-title {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 1.2rem;
}
@media screen and (min-width: 900px) {
  .form-elements {
    width: 80%;
    margin: 1.2rem;
  }
}

@media screen and (max-width: 900px) {
  .form-elements {
    width: 80%;
    margin: 1.2rem;
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.submit-button {
  margin-bottom: 2rem;
}